<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ page.title }} | {{ site.title }}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}

    <link rel="stylesheet" href="{{ "/assets/css/global.css" }}">

    <link rel="stylesheet" href="{{ "/assets/lib/bootstrap.min.css" | relative_url }}">
    <script src="{{ "/assets/lib/bootstrap.bundle.min.js" }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEFS4RQB9Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HEFS4RQB9Q');
    </script>
  </head>
  <body>
    <a id="github-banner" class="d-none d-md-block" href="https://github.com/itsmejoeeey/eversticky" target="_blank">
        <img width="149" height="149" src="{{ "/assets/img/forkme_right_gray.png" }}" class="attachment-full size-full" alt="Fork me on GitHub">
    </a>

    <div class="col-md-8 py-5 px-3 mx-auto">
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </div>
  </body>
</html>
